@charset "UTF-8";
:root {
  --fontFamily: "";
  --fontFamilySecond: "";
  --fontSize: 1rem;
  --lineHeight: 1;
  --fontWeight_300: 300;
  --fontWeight_400: 400;
  --fontWeight_500: 500;
  --fontWeight_600: 600;
  --fontWeight_700: 700;
  --fontWeight_800: 800;
  --fontWeight_900: 900;
  --main-color: rgba(38, 38, 38, 0.7);
  --whiteColor: #fff;
  --blackColor: #000;
  --blueColor: #0000ff;
  --yellowColor: #ffff00;
  --greenColor: #008000;
  --redColor: #ff0000;
  --orangeColor: #ffa500;
  --brownColor: #a52a2a;
  --greyColor: #808080;
  --main-bg: #000;
  --whiteBg: #fff;
  --blackBg: #000;
  --blueBg: #0000ff;
  --yellowBg: #ffff00;
  --greenBg: #008000;
  --redBg: #ff0000;
  --orangeBg: #ffa500;
  --brownBg: #a52a2a;
  --greyBg: #808080;
  --animationSpeed: 0.3s;
  --animationFunction: ease
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--main-color);
  line-height: 1;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--fontFamily);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.image-block {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100svh;
  min-height: 46.875rem
}
.image-block.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11
}
.image-block--hide.active {
  z-index: 12
}
.image-block__body {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.image-block__container {
  width: 100%;
  position: relative
}
.image-block__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.image-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.image-block__img--hide {
  opacity: 0
}
.image-block__img--hide._show {
  opacity: 1
}
.image-block__content {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
  display: grid;
  row-gap: 1.25rem;
  color: var(--whiteColor);
  max-width: 37.5rem;
  margin-left: auto;
  background-color: green;
  padding: 1.25rem;
  opacity: 0;
  -webkit-transform: translate(0,70%);
  transform: translate(0,70%);
  transition: opacity .5s linear
}
.image-block__content.show {
  opacity: 1
}
.image-block--hide .image-block__content.show {
  transition: none
}
.box {
  position: relative
}